{% extends 'base.html.twig' %}

{% block title %}New CategorySettings{% endblock %}

{% block body %}
   {#  {% for categori in filteredCategoriesSettings %}
        <h1>Creates {{ categori.title }}</h1>
<h1>Creates {{ categoriesSettings.title }}</h1>
        <!-- Ajoutez ici d'autres informations à afficher pour chaque categori -->
    {% endfor %}#}
    <h1>Creates Réglages </h1>



    {{ include('admin_category_setting/_form.html.twig') }}

    <a href="{{ path('app_admin_category_setting_index') }}">back to list</a>
{% endblock %}
