{% extends 'base.html.twig' %}

{% block title %}New Activitie{% endblock %}

{% block body %}
    <h1>Create new Activitie au planning</h1>

    {{ include('admin_activitie/_form.html.twig') }}

    <a href="{{ path('app_admin_activitie_index') }}">back to list</a>
{% endblock %}
