<form method="post" action="{{ path('app_admin_staff_schedule_delete', {'id': staff_schedule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ staff_schedule.id) }}">
    <button class="btn">Delete</button>
</form>
