{% extends 'base.html.twig' %}

{% block title %}New StaffSchedule{% endblock %}

{% block body %}
    <h1>Create new StaffSchedule</h1>

    {{ include('admin_staff_schedule/_form.html.twig') }}

    <a href="{{ path('app_admin_staff_schedule_index') }}">back to list</a>
{% endblock %}
