{% extends 'base.html.twig' %}

{% block title %}Edit Staff{% endblock %}

{% block body %}
    <h1>Edit Staff</h1>

    {{ include('admin_staff/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_staff_index') }}">back to list</a>

    {{ include('admin_staff/_delete_form.html.twig') }}
{% endblock %}
